=======
Git
=======
.gitignore~

=======
TeX
=======
*.tex~
*.tex.backup
*.toc
*.aux
*.log

=======
JAVA
=======
*.class

# Package Files #
*.jar
*.war
*.ear

# Config files #
trello_settings.xml

# IDE settings #
.idea/
*.iml

# Build files #
target/
