=======
Windows
=======
~$*

=======
Git
=======
.gitignore~

=======
TeX
=======
*.tex~
*.tex.backup
*.toc
*.aux
*.out
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.vrb

=======
JAVA
=======
*.class

# Package Files #
*.jar
*.war
*.ear

# Config files #
trello_settings.xml

# IDE settings #
.idea/
*.iml

# Build files #
target/
bin/

=======
Python
=======
# Build files #
*.pyc
=======
